<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <h5 th:text="${userDto.login}"></h5>
    <form th:object="${userDto}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="password" class="form-label">Новый пароль</label>
            <input type="password" class="form-control" id="password" th:field="${userDto.password}">
        </div>
        <div class="mb-3">
            <label class="form-label">Аватар</label>
            <input type="file" class="form-control" name="file">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">
                <span >Обновить</span>
            </button>
        </div>
    </form>
</div>
</body>
</html>